/* ___________________ INPUT ____________________________ */

.reviewFormContent input, #weekEndingDatePicker {
  width: 100% !important;
  font-family: accent-light !important; 
}

#reviewForm .MuiSvgIcon-root {
  fill: white;
}


/* ___________________ INPUT LABEL ____________________________ */

#weekEndingDatePicker-label {
  font-family: accent !important;
  font-size: 1em;
  color: #ffffff !important;
  width: 100% !important;
  display: flex !important;
}

#reviewForm .groupHeader {
  font-family: accent !important;
  font-size: 1.8em !important;
  color: #f8f8f8 !important;
  margin-top: 35px !important;
  margin-bottom: -20px !important;
  display: block !important;
  text-shadow: 2px 2px #BC2628;
}

#reviewForm .questions {
  font-family: accent !important;
  font-size: 1.25em !important;
  color: #f6f6f6 !important;
  width: 100% !important;
  margin-top: 35px !important;
  margin-bottom: -8px !important;
  text-shadow: 1px 1px #6286d973;
}


#reviewForm .MuiSelect-select option {
  background-color: #BC2628;
}

#weekEndingLabel > .MuiFormControl-root {
  margin-bottom: -15px !important;
}

#reviewForm .MuiTypography-body1 {
  color: #26baff;
}

/* __________________ MEDIA QUERIES ____________________________ */


@media screen and (max-width: 960px) {

  .questions {
    margin-top: 3.5% !important;
  }
}


@media screen and (max-width: 600px) {

  .questions {
    margin-top: 8.5% !important;
  }

  .reviewFormContent label {
    font-size: 0.65em;
  }
}

