.sidebar-container {
    display: flex;
}

.MuiPaper-root.MuiDrawer-paper {
    color: white;
    background-color: #403d82d7;
    width: 240px !important;
    background-image: url("../../src/images/grunge-halftone-texture-overlay-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}

.appBar {
    width: calc(100% - 240px);
    margin-left: 240;
}

.permanentDrawer {
    visibility: hidden;
}

a.nav-button > div:hover, a.nav-button > div:active {
    background-color: #4A4883;
    mix-blend-mode: hard-light;
}
/* __________________ TEXT ____________________________ */

.sidebar-container .MuiTypography-root {
    font-family: header !important; 
}

.app-title {
    font-family: header !important;
    justify-content: center !important;
    padding-bottom: 5% !important;
    padding-top: 5% !important;
    margin-left: 25px !important;
}

a.nav-button:link, a.nav-button:active, a.nav-button:visited, a.nav-button:hover {
    text-decoration: none;
    color:white;
}

/* __________________ ICONS ____________________________ */

.MuiListItemIcon-root {
    min-width: 35px !important;
}

.menuButton {
    margin-right: 20px;
}


@media screen and (min-width: 961px) {
    .drawer {
        width: 240;
        flex-shrink: 0;
    }

    .permanentDrawer {
        visibility: visible;
    }

    .appBar {
        visibility: hidden;
    }

    .menuButton {
        display: none;
    }

    .MuiPaper-root.MuiDrawer-paper {
        background-color: #5650ff3a;
    }
}