#reviewHistoryTableContainer {
    height: 100vh !important;
    width: 90% !important;
    margin: auto !important;
    margin-bottom: 400px !important;
}


/* TABLE HEADER */
#reviewHistoryTableContainer .MuiDataGrid-colCell {
    background-color:#4A4883;
    color:#ffffff;
    font-family: header;
    font-size: 1.1em;
}

/* TABLE ROWS */
#reviewHistoryTableContainer .MuiDataGrid-row:nth-child(even) {
    background-color: #f5f5f5;
    color: #3c3c3d;
    font-family: accent-light;
    font-size: 1.1em;
    font-weight: 600;
}

#reviewHistoryTableContainer .MuiDataGrid-row:nth-child(odd) {
    background-color: #9198ad;
    color: #3c3c3d;
    font-family: accent-light;
    font-size: 1.1em;
    font-weight: 600;
}

#reviewHistoryTableContainer a:link,
#reviewHistoryTableContainer a:active,
#reviewHistoryTableContainer a:visited,
#reviewHistoryTableContainer a:hover {
    text-decoration: none;
}

#reviewHistoryTableContainer .link {
    display: inline-block;
    text-align: end;
    width: 100%;
    margin-right: 0%;
    margin-left: auto;
}


/* TABLE OPTIONS */
#reviewHistoryTableContainer button.downloadButton {
    margin-top: -45px !important;
    margin-bottom: 25px !important;
    background-color: #BC2628 !important;
    color: #f5f5f5 !important;
    font-family: accent !important;  
}

/* __________________ FOOTER ____________________________ */

#reviewHistoryTableContainer p, .MuiDataGrid-rowCount {
    color: #f5f5f5 !important;
    font-family: accent !important;  
}

.MuiTablePagination-actions button {
    color: rgb(0, 0, 0) !important
}

.MuiDataGrid-footer {
    background-color: #4A4883;
}


/* __________________ FILTERS ____________________________ */

.filterContainer {
    display: block;
}

div.MuiFormControl-root.tableFilter {
    display: inline-block;
    width: 200px;
    margin-right: 50px;
}

.tableFilter .MuiFilledInput-root {
    background-color: #111111;
}

.tableFilter .MuiInputBase-input {
    background: #4A4883 !important;
}

#reviewHistoryTableContainer .MuiSelect-select option {
    background-color: #BC2628;
  }